<p id="notice"><%= notice %></p>

<h1>Tcs</h1>

<table>
  <thead>
    <tr>
      <th>Tc</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tcs.each do |tc| %>
      <tr>
        <td><%= tc.tc_id %></td>
        <td><%= tc.name %></td>
        <td><%= tc.surname %></td>
        <td><%= tc.year %></td>
        <td><%= link_to 'Show', tc %></td>
        <td><%= link_to 'Edit', edit_tc_path(tc) %></td>
        <td><%= link_to 'Destroy', tc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tc', new_tc_path %>
